<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgLVWV_E2CwuHijWA7GH3gxoxvm9Nap5U</string>
	<key>GCM_SENDER_ID</key>
	<string>437595422951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.group1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>group-1-36c82</string>
	<key>STORAGE_BUCKET</key>
	<string>group-1-36c82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437595422951:ios:861e39619596d9deece242</string>
</dict>
</plist>